.dish-modal {
  font-family: SourceSerifPro !important;
}

.card-img-top {
  background: transparent;
}
.dish-list-title,
.dish-modal-title {
  font-size: 30px;
  font-weight: 600;
}

.image-exist .dish-modal-subtitle,
.image-exist .dish-modal-title,
.image-exist span {
  color: #fff;
}

.dish-list-title:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 50px;
  background: #ffb53a;
  left: -18px;
  top: 10px;
}

button.dish-add-button {
  color: #fff;
}

.modal-content .dish-modal-header-wrap {
  padding: 0;
  height: 314px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dish-modal-footer button.dish-add-button {
  width: 100%;
  margin: 0;
  height: 64px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 700;
}

.dish-modal .dish-modal-header {
  background-color: #f4f4f4;
  background-size: cover;
  height: 314px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dish-modal .dish-modal-footer {
  border: none;
  padding: 0;
}
.dish-modal .modal-content {
  border: none;
  border-radius: 14px;
}
.dish-list-container.container {
  background: linear-gradient(0.25turn, #fff, #8080801c, #fff);
}

.dish-list-container .dishes-list-header {
  padding-top: 50px;
}

.dish-list-item.card {
  box-shadow: -9px 14px 30px #dadada;
  border: none !important;
  margin: 1rem 0;
  border-radius: 5px !important;
}
.dish-list-item.card .card-body {
  min-height: 200px;
  padding: 25px;
}

.dish-add-button-wrap {
  min-height: 50px;
}

.dish-list-item.card .card-body .dish-category,
.dish-list-item.card .card-body .dish-weight {
  text-transform: uppercase;
  font-size: 14px;
}

.dish-list-item.card .card-body .dish-weight {
  text-align: right;
}

.dish-list-item.card .card-body .dish-name {
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  height: 60px;
  margin-bottom: 10px;
}

.dish-list-item.card .card-body .dish-name:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 4px;
  background: #ffb53a;
  left: -10px;
  top: 9px;
}

.dish-list-item.card .card-body .dish-description {
  font-size: 17px;
  line-height: 18px;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 60px;
  margin-bottom: 10px;
}

.dish-list-item.card .card-body .dish-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.dishes-list-header .col {
  position: absolute;
}

.dishes-list-header button.dish-add-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dish-modal input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.ingredient-list-header .ingredient-list-title,
.ingredient-list-header .ingredient-list-add {
  font-size: 17px;
}

.ingredient-list-header .ingredient-list-add {
  text-align: right;
  font-weight: 700;
  color: #ffb53a;
  cursor: pointer;
}
.add-image-button,
.modal-body .remove-ingredient-button {
  cursor: pointer;
  font-weight: 700;
}
.modal-body .remove-ingredient-button {
  padding-top: 5px;
}

.dish-modal-add-plus-icon {
  position: absolute;
  right: 50px;
}

.diah-modal-header-caption {
  margin: 0;
  position: absolute !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.diah-modal-header-caption .row {
  margin-bottom: 10px;
}

.diah-modal-header-add-image-button-wrap {
  margin: 0;
  position: absolute !important;
  bottom: 20px;
}
.dish-modal-header .img-fluid {
  width: 100%;
  height: 314px;
  position: absolute;
  object-fit: cover;
  margin-left: -30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-img-top {
  cursor: pointer;
}
.form-group input[name="weight"] {
  text-align: right;
  padding-right: 30px;
}

.form-group span.ingredient-unit {
  position: absolute;
  right: 20px;
  top: 6px;
  z-index: 20;
}

.remove-ingredient-button .svg-inline--fa {
  margin-top: 10px;
}
.ingredient-count {
  padding-top: 10px;
}

.dish-modal-form .justify-content-md-center.total-show {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.02) 7%,
    rgba(255, 255, 255, 0) 17%
  );
}
