.layout {
  font-family: SourceSerifPro !important;
}
nav.bg-light {
  background: white !important;
}

nav.bg-light.transparent {
  background: transparent !important;
}
.app-page-header {
  height: 300px;
  width: 100%;
  align-content: center;
  align-items: center;
  background-color: aqua;
  margin: 0 auto;
  background: linear-gradient(
      138deg,
      rgba(255, 181, 58, 0.2) 56%,
      rgba(0, 0, 0, 0.2) 59%
    ),
    url("../images/header-image.png");
  position: relative;
  padding-top: 182px;
}

.app-header-menu-wrap {
  width: 100%;
  align-items: center;
  align-content: center;
  min-height: 109px;
  vertical-align: middle;
  position: fixed;
}

.navbar-brand img {
  height: 46px;
  width: 70px;
  float: left;
  filter: invert(1);
}

nav.transparent .navbar-brand img {
  filter: invert(0);
}
a.nav-link {
  font-weight: bold;
  font-weight: bold;
  font-size: 17px;
  line-height: 34px;
  padding: 0 15px;
  color: #000;
}

.app-header-menu-wrap.navbar-light.transparent
  .navbar-nav
  .nav-link.nav-menu-item {
  color: #fff;
}

.app-header-menu-wrap.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .show > .nav-link.nav-menu-item,
.navbar-light .navbar-nav .active > .nav-link.nav-menu-item,
.navbar-light .navbar-nav .nav-link.nav-menu-item.show,
.navbar-light .navbar-nav .nav-link.nav-menu-item.active {
  background-color: rgb(255 181 58 / 20%);
  border-radius: 5px;
  color: #ffb53a;
}

nav.app-header-menu-wrap.transparent a.nav-link.nav-menu-item.active {
  background-color: #ffb53a;
}

nav.transparent button.btn {
  color: #fff !important;
}

.page-title {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  line-height: 44px;
}

.app-header-menu-wrap.bg-light .input-group-append span.input-group-text,
.dish-modal-form span.input-group-text {
  background-color: white !important;
}
.app-header-menu-wrap.bg-light .input-group input.form-control {
  border-right: none;
}
.app-header-user-login {
  font-size: 17px;
  font-weight: 700;
  padding-left: 5px;
}
nav.transparent .app-header-user-login,
nav.transparent .app-header-user-icon {
  color: #fff;
}
.app-header-user-icon {
  margin-top: -4px;
}

nav.app-header-menu-wrap.transparent .navbar-toggler-icon {
  color: #fff;
}

nav.app-header-menu-wrap .navbar-toggler-icon {
  color: #000;
}
