@font-face {
  font-family: "SourceSerifProregular";
  src: local("SourceSerifProregular"),
    url(../fonts/SourceSerifPro/SourceSerifProregular.ttf) format("ttf");
}
@font-face {
  font-family: "SourceSerifPro600";
  src: local("SourceSerifPro600"),
    url(../fonts/SourceSerifPro/SourceSerifPro600.ttf) format("ttf");
}
@font-face {
  font-family: "SourceSerifPro700";
  src: local("SourceSerifPro700"),
    url(../fonts/SourceSerifPro/SourceSerifPro700.ttf) format("ttf");
}
